<html xmlns:th="http://www.thymeleaf.org">

<-- Header -->
<div th:fragment="header">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="one-line-elements-symbol-gap-no-bottom-margin">

                <h2><a class="navbar-brand" href="/">GOLF Club</a></h2>
                <a href="/player"><h5>Players</h5></a>
                <a href="/round-score"><h5>Round scores</h5></a>
                <a href="/competition"><h5>Competitions</h5></a>
                <a href="/course"><h5>Courses</h5></a>

            </div>

        </nav>
</div>

