<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tables</title>
    <link rel="stylesheet" href="style-for-scorecard.css">
</head>

<body>

<div class="container mtb-3">

    <div class="table-responsive">
        <table class="table-scorecard">
            <thead>
            <tr class="font-size">
                <th style="background-color: black; color: white" colspan="2">DATE</th>
                <th colspan="2"></th>
                <th style="background-color: black; color: white" colspan="4">TOURNAMENT</th>
                <th colspan="6"></th>
                <th style="background-color: black; color: white" colspan="2">HCP</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="td-player" colspan="2">Player A</td>
                <td colspan="12"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td class="td-player" colspan="2">Player B</td>
                <td colspan="12"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td class="td-player" colspan="2">Player C</td>
                <td colspan="12"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td class="td-player" colspan="2">Player D</td>
                <td colspan="12"></td>
                <td colspan="2"></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <th style="background-color: black; color: white" rowspan="2">HOLE</th>
                <th style="background-color: green; color: white" rowspan="2">PAR</th>
                <th style="background-color: black; color: whitesmoke" rowspan="2">BLACK</th>
                <th style="background-color: whitesmoke; color: black" rowspan="2">WHITE</th>
                <th style="background-color: #f3f31c; color: black" rowspan="2">YELLOW</th>
                <th style="background-color: dodgerblue; color: white" rowspan="2">BLUE</th>
                <th style="background-color: #d21111; color: white" rowspan="2">RED</th>
                <th style="background-color: black; color: white" rowspan="2">STROKE<br>INDEX</th>
                <th rowspan="2">PLAYER<br><span class="abcd-text">A</span></th>
                <th rowspan="2">PLAYER<br><span class="abcd-text">B</span></th>
                <th rowspan="2">PLAYER<br><span class="abcd-text">C</span></th>
                <th rowspan="2">PLAYER<br><span class="abcd-text">D</span></th>
                <th colspan="4">STATISTICS</th>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <!-- Additional content for the cell above the last four cells -->
                <td>FIR</td>
                <td>GIR</td>
                <td>SAND</td>
                <td>PUTT</td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">1</td>
                <td style="background-color: green; color: white">1</td>
                <td style="background-color: black; color: whitesmoke" >1</td>
                <td style="background-color: whitesmoke; color: black" >1</td>
                <td style="background-color: #f3f31c; color: black" >1</td>
                <td style="background-color: dodgerblue; color: white" >1</td>
                <td style="background-color: #d21111; color: white" >1</td>
                <td style="background-color: black; color: white" >1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">2</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">3</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">4</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">5</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">6</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">7</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">8</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">9</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">OUT</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: white; color: white" colspan="16">1</td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">10</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">11</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">12</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">13</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">14</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">15</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">16</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">17</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">18</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">IN</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: black; color: white">TOTAL</td>
                <td style="background-color: green; color: white"></td>
                <td style="background-color: black; color: whitesmoke" ></td>
                <td style="background-color: whitesmoke; color: black" ></td>
                <td style="background-color: #f3f31c; color: black" ></td>
                <td style="background-color: dodgerblue; color: white" ></td>
                <td style="background-color: #d21111; color: white" ></td>
                <td style="background-color: black; color: white" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="main-scoretable-head-fontsize">
                <td style="background-color: white; color: white" colspan="16" rowspan="2">1</td>
            </tr>

            </tbody>
            <tfoot>
            <tr class="font-size">
                <td style="background-color: black; color: white" colspan="3">MARKER'S<br>SIGNATURE</td>
                <td colspan="5"></td>
                <td style="background-color: black; color: white" colspan="3">PLAYER'S<br>SIGNATURE</td>
                <td colspan="5"></td>

            </tr>
            </tfoot>

        </table>
    </div>

    <hr class="mtb-3">

</div>


</body>
</html>
